
@{
    ViewBag.Title = "JANEL GALAS | Papel de Regalo ECONOMICO en Mérida";
    ViewBag.descripcion = "GALAS son papeles de regalo de la empresa JANEL , tenemos todos los diseños , conocenos estamos en Mérida Yucatán";
    Layout = "~/Views/Master/Publico.cshtml";
}

<style>
    .imgResponsive {
        width: 100%;
        height: auto;
    }
</style>
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(../../images/div_galas.jpg);">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="row d-md-flex align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="heading-section pl-md-12 heading-section-white">
                        <div class="pl-md-12 ml-md-12 ftco-animate">
                            <span class="subheading"></span>
                            <br />
                            <br />
                            <h2 class="mb-4">JANEL-GALAS DE MÉXICO</h2>
                            <br />
                            <br />

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<br />
<br />
<section class="ftco-section ftc-no-pb">
    <div class="container">
        <div class="row no-gutters justify-content-center">

            <div class="col-md-10">
                <div class="row no-gutters">
                    <div class="col-md-5 p-md-5 img img-2" style="background-image: url(../../images/galaspage.png);">
                    </div>
                    <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                        <div class="heading-section mb-5 pl-md-5 heading-section-with-line">
                            <div class="pl-md-5 ml-md-5">
                                <h2 class="mb-4">Envolviendo Sonrisas</h2>
                            </div>
                        </div>
                        <div class="pl-md-5 ml-md-5 mb-5" style="text-align:justify;">
                            <br />
                            <p>Janel, Galas de México es una empresa con gran prestigio en el pais, nos brinda una gran variedad de papeles de 
                            regalo de couche y metalizado con el fin de satisfacer al cliente más exigente, esto debido a su amplia gama de diseños 
                            para toda la familia en toda ocasíon, así envolver regalos detalles para llenar de sonrisas a nuestros 
                            seres queridos</p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--parrallax papeles de regalo-->
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('../../images/bannergalas1.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <br>
            <br>
        </div>
    </div>
</section>
<section style="background-color:#ffccff;" class="ftco-section ftco-counter img" id="section-counter" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <br>
            <h2>Papeles de Regalo</h2>
            <br>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div style="color:black;" class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="~/images/papeles/galas1.png" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3>VERDE FLOREADO</h3>
                    </div>
                    <a href="~/images/papeles/galas1.png" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="~/images/papeles/galas2.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3>FLOREADO CLASICO</h3>
                    </div>
                    <a href="~/images/papeles/galas2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="~/images/papeles/galas3.png" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3>GRADUACIÓN</h3>
                    </div>
                    <a href="~/images/papeles/galas3.png" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="~/images/papeles/galas4.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3>BODA</h3>
                    </div>
                    <a href="~/images/papeles/galas4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="~/images/papeles/galas5.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3>GRADUACIÓN</h3>
                    </div>
                    <a href="~/images/papeles/galas5.png" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="~/images/papeles/galas6.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3>BEBÉ</h3>
                    </div>
                    <a href="~/images/papeles/galas6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="~/images/papeles/galas7.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3>BEBÉ 2 </h3>
                    </div>
                    <a href="~/images/papeles/galas7.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="~/images/papeles/galas8.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3>FLORAL</h3>
                    </div>
                    <a href="~/images/papeles/galas8.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--parrallax papeles de regalo-->
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('../../images/bannerp.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <br>
            <br>
        </div>
    </div>
</section>
<section style="background-color:#99ffff;" class="ftco-section ftco-counter img" id="section-counter" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <br>
            <h2>Papeles de Regalo Metalizado</h2>
            <br>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div style="color:black;" class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="~/images/papeles/m1.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3></h3>
                    </div>
                    <a href="~/images/papeles/m1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="../../images/papeles/m2.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3></h3>
                    </div>
                    <a href="../../images/papeles/m2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="../../images/papeles/m3.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3></h3>
                    </div>
                    <a href="../../images/papeles/m3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="../../images/papeles/m4.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3></h3>
                    </div>
                    <a href="../../images/papeles/m4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="../../images/papeles/m5.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3></h3>
                    </div>
                    <a href="../../images/papeles/m5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="../../images/papeles/m6.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3></h3>
                    </div>
                    <a href="../../images/papeles/m6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="../../images/papeles/m7.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3></h3>
                    </div>
                    <a href="../../images/papeles/m7.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="project">
                    <img src="../../images/papeles/m8.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="text">
                        <h3></h3>
                    </div>
                    <a href="../../images/papeles/m8.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />