
@{
    ViewBag.Title = "Categoría";
    Layout = "~/Views/Master/Publico.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../../images/colores.jpg');">
    <div class=""></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread" style="color:black;">Quiénes Somos</h1>
                <p class="breadcrumbs" style="color:black;"><span class="mr-2" style="color:black;"><a style="color:black;" href="@Url.Action("Inicio","Papeleria")">Inicio <i style="color:black;" class="ion-ios-arrow-forward"></i></a></span> <span style="color:black;">Quiénes Somos </span></p>
            </div>
        </div>
    </div>
</section>
<!-- Papeleria a mayoreo -->
<br />
<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container wrap-about ftco-animate">
        <div class="row">
            <div class="col-md-7 well">
                <h2>Título</h2>
                <p style="text-align:justify;">
                    Para poner en marcha uno de estos establecimientos no es necesario tener ninguna formación específica o reunir características concretas. Basta con ser una persona con una cierta inquietud emprendedora y tener una buena predisposición a adquirir una serie de conocimientos sobre el funcionamiento del negocio y los artículos que se pondrán a la venta.
                    En general, las líneas de negocio que se siguen en una papelería son principalmente la venta de material escolar, de oficina y de papelería y, en algunos casos, la venta de material informático.
                </p>
            </div>
            <div class="col-md-1 well">

            </div>
            <div class="col-md-4 well">
                <img src="~/images/lapiz.png" width="200" height="270">
            </div>
        </div>
    </div>
</section>


