
@{
    ViewBag.Title = "¡ Descarga y Descubre !";
    ViewBag.Parentesis = " Catálogos Papeleria Mayorista";
    ViewBag.Title2 = "Papelería Mérida";
    ViewBag.descripcion = "✅ Podras encontrar Papeleria en Mérida a buen precio , asi como ofertas en papeleria. ";
    ViewBag.robots = "index, follow, archive";
    Layout = "~/Views/Master/Publico.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../../images/computacion/banner2.png');">
    <div class=""></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread" style="color:black;">Dr. Computación</h1>
                <p class="breadcrumbs" style="color:black;"><span class="mr-2" style="color:black;"><a style="color:black;" href="@Url.Action("Inicio", "Papeleria")">Inicio <i style="color:black;" class="ion-ios-arrow-forward"></i></a></span> <span style="color:black;">Reparación</span></p>
            </div>
        </div>
    </div>
</section>

<!-- Papeleria a mayoreo -->
<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
                    <h4 class="mb-4">Bienvenido a la era de la Tecnología</h4>
                    <p>Obtén nuestros catálogos y Envianos tu pedido</p>
                        <div>
                            <h5>Descargar Catálogo de </h5>
                            <p></p>
                            <table>
                                <tr>
                                    <th><img class="" src="../../images/pdf.png" width="70" height="70"></th>
                                    <th><a href="~/admin/docs/" download="Catálogo "><img class="" src="../../images/clic.png" width="200" height="50"></a></th>
                                </tr>
                            </table>
                        </div>
                        <br>
                </div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 class="mb-4">Mantenimiento y Reparación de Computadoras</h2>
                <p style="text-align:justify;">
                    Con Papelería Mérida tienes acceso a un sin fin de servicios como lo requiera tu computadora.
                    <br />
                    <b>Dr. Computación</b> nuestro aliado en problemas como los equipos lentos, cambio de piezas o fallas, 
                    ofrece soluciones de calidad.
                    <br />
                    RECUERDA : Muchos lugares ofrecen servicios buenos con el fin de cambiarte piezas o de nunca devolver tu equipo.
                    <br />
                    Tenemos oficina estable para que tus equipos siempre esten protegidos del tráfico de piezas, ofrecemos el servicio premium
                    en reparacion, formateo, limpieza de equipos por que <b>NO APRENDIMOS A REPARARLO MÁS BIEN ESTUDIAMOS PARA PODER HACERLO</b>.

                </p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
                            <div class="text">
                                <h3>Pedido Seguro</h3>
                                <p>Si en alguno de tus pedidos, el producto sale defectuoso te lo cambiamos sin problema.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
                            <div class="text">
                                <h3>Equipo Confiable</h3>
                                <p>Somos un equipo responsable, con el fin de que nuestros clientes esten seguros y felices con nuestro trabajo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
                            <div class="text">
                                <h3>Atención Personalizada</h3>
                                <p>Si eres de Mérida, Yucatán contactanos para agendar una visita, Alguno de nuestros vendedores visitara tu tienda para realizar tu pedido.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
                            <div class="text">
                                <h3>Asesoramiento Gratuito</h3>
                                <p>Si deseas abrir o iniciar tu papeleria, visitanos resolveremos todas tus dudas y te ayudaremos a iniciar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
                            <div class="text">
                                <h3>Promociones Increibles</h3>
                                <p>En nuestros catalogos encontraras productos con un extra de descuento con el fin de ayudar a nuestros clientes en su economía.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
                            <div class="text">
                                <h3>Servicio de Calidad</h3>
                                <p>Gracias a nuestro apartado puedes calificar a nuestro equipo para asi mejorar en nuestro servicio, por que tú eres muy importante.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

